#ignore CSVs
ati.csv
ati-nil.csv
contracts.csv
contracts-nil.csv
contractsa.csv
grants.csv
grants-nil.csv
reclassification.csv
reclassification-nil.csv
travela.csv
travelq.csv
travelq-nil.csv
hospitalityq.csv
hospitalityq-nil.csv
dac.csv
briefingt.csv
qpnotes.csv
wrongdoing.csv
.Rhistory
*.jsonl
.Rproj.user
.RData
*.gz
dfo-uploads
ObD Analytics/client_secret_710700207159-ql9r2al248sjmhgkp7dutp0e6mo9pu5k.apps.googleusercontent.com.json
