#ignore CSVs
ati.csv
ati-nil.csv
contracts.csv
contracts-nil.csv
contractsa.csv
grants.csv
grants-nil.csv
reclassification.csv
reclassification-nil.csv
travela.csv
travelq.csv
travelq-nil.csv
hospitalityq.csv
hospitalityq-nil.csv
dac.csv
briefingt.csv
qpnotes.csv
wrongdoing.csv
.Rhistory
*.jsonl
